{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content %}

<body>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
  <!-- Modal -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Add New Database
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="/add_database" method="POST">
            <!--Image-->
            <div class="mb-3">
              <label for="image" class="form-label">Image URL</label>
              <textarea class="form-control" id="database-img" name="Image"></textarea>
            </div>
            <!--Name-->
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name<br>e.g: Ronald's Database</label>
              <input type="text" class="form-control" id="database-name" name='Name'/>
            </div>
            <!--Description-->
            <div class="mb-3">
              <label for="message-text" class="col-form-label"></label>Description</label>
              <textarea class="form-control" id="database-description" name="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Database</button>
            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          </form>
        </div>
        <div class="modal-footer">
          
        </div>
        
      </div>
    </div>
  </div>



  <!--Grid Layout-->
  <div class="container">
    <div class="row">
      {% for database in databases %}
      <div class="col-12 col-md-6 col-lg-4 justify-content-center">
        <div class="card mb-4 custom-bg">
          <img
            src="{{database.image}}"
            class="card-img-top"
            alt="Picture of {{database.name}}"
            width="300"
            height="225"
          />
          <div class="card-body">
            <h5 class="card-title cardtext">{{database.name}}</h5>
            <p class="cardtext">{{database.description}}</p>

            <!-- View Database Button -->
            <a 
            class="btn btn-primary" 
            href="{{url_for('view_database', dbid=database.databaseid, ActiveUser=ActiveUser, userid=userid)}}" 
            role="button"
            >View Details</a>
            <!-- Edit Database Button -->
            <a 
            class="btn btn-primary" 
            href="{{url_for('edit_database', id=database.id, dbid=database.databaseid, ActiveUser=ActiveUser, userid=userid)}}" 
            role="button"
            >Edit Details</a>
            <!-- Delete Database Button -->
            <a 
            class="btn btn-primary" 
            href="{{url_for('delete_database', id=database.id, dbid=database.databaseid, ActiveUser=ActiveUser, userid=userid)}}" 
            role="button"
            >Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{%endblock%}

</body>
