{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content %}
<h1 class="center whitetext" style="margin-top: -40px;">Welcome, {{ ActiveUser }}!</h1>
<body>
    <div class="othercenter whiteborder solidborder whitetext brownbackground" style="margin-top:-100px; padding-bottom: 280px">
        <h2 class="" style="text-align: center;">Gang's Garage: <br> The Complete Collection</h2>
        <div style="text-align: center">
            <a 
            class="green-btn btn-primary btn" 
            style="margin-bottom: 10px"
            href="{{url_for('signin', userid=userid)}}" 
            role="button">Log In</a>
            <br>
            <a 
            class="green-btn btn-primary btn" 
            style="margin-bottom: 10px"
            href="{{url_for('signup', userid=0)}}" 
            role="button">Sign Up</a>
            <br>
            <a 
            class="green-btn btn-primary btn" 
            style="margin-bottom: 10px"
            href="{{url_for('databases', ActiveUser=ActiveUser, userid=userid)}}" 
            role="button">Databases</a>
            <br>
            <a 
            class="green-btn btn-primary btn" 
            href="{{url_for('quiz_questions', ActiveUser=ActiveUser, userid=userid)}}" 
            role="button">Quiz</a>
            <br>
        </div>
    </div>
</body>


{%endblock%}
