{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content %}

<body>
    <div class="center blueborder solidborder">
        <h2 class="">Gang's Garage: The Complete Collection</h2>
        <div>
            <a 
            class="btn-primary btn" 
            href="{{url_for('signin')}}" 
            role="button">Sign Up/Log in</a>
            <a 
            class="btn-primary btn" 
            href="{{url_for('databases')}}" 
            role="button">Databases</a>
            <a 
            class="btn-primary btn" 
            href="{{url_for('quiz')}}" 
            role="button">Quiz</a>
            <a 
            class="btn-primary btn" 
            href="{{url_for('index')}}" 
            role="button">Index</a>
        </div>
    </div>
</body>


{%endblock%}
