{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content %}
<h1 class="center">Welcome, {{ ActiveUser }}!</h1>
<body>
    <div class="center blueborder solidborder">
        <h2 class="">Gang's Garage: The Complete Collection</h2>
        <div>
            <a 
            class="btn-primary btn" 
            href="{{url_for('signin')}}" 
            role="button">Sign Up - Log in</a>
            <a 
            class="btn-primary btn" 
            href="{{url_for('databases', ActiveUser=ActiveUser, userid=userid)}}" 
            role="button">Databases</a>
            <a 
            class="btn-primary btn" 
            href="{{url_for('quiz_questions', ActiveUser=ActiveUser, userid=userid)}}" 
            role="button">Quiz</a>
            <a 
            class="btn-primary btn" 
            href="{{url_for('index', ActiveUser=ActiveUser, userid=userid)}}" 
            role="button">Index</a>
        </div>
    </div>
</body>


{%endblock%}
