{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content %}

<a 
class="btn-primary btn" 
href="{{url_for('quiz_questions', ActiveUser=ActiveUser, userid=userid, user=user)}}" 
role="button">Quiz</a>

<p><b>Place of Residence:</b> {{Residence}}<br><b>Number of people usually carried:</b> {{People}}<br><b>PRIMARY purpose of the vehicle:</b> {{Purpose}}<br><b>Amount of towing done:</b> {{Towing}}<br><b>Stuff carried often? </b>{{Carry}}</p>

<p>Ideal Vehicle: {{highest}}</p>

{% for vehicle in ideal %}
    <img
        src="{{vehicle.image}}"
        class="idealcar"
        alt="Picture of {{vehicle.name}}"
        />
    <img
        src="{{vehicle.image2}}"
        class="idealcar"
        alt="Picture of {{vehicle.name}}"
        />
    <img
        src="{{vehicle.image3}}"
        class="idealcar"
        alt="Picture of {{vehicle.name}}"
        />
    <p>{{vehicle.description}}</p>
{% endfor %}

<p><b>Ranking: </b><br><small>(higher points is better)</small></p>
{% for key, value in rank.items() %}
    {% print("{}: {} points".format(key, value)) %}<br>
{% endfor %}
<br>

{%endblock%}
