{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content %}

<form action="/signin" method="POST">
    <div class="center border whiteborder brownbackground" style="padding: 20px; padding-bottom: 300px">
        <h2 class="whitetext">Sign in to Your Account</h2>
        <div>
            <div 
            class="input__wrapper" 
            style="text-align: center">
            <input type="text" name="username" placeholder="Username" class="input__field">
        </div>            
        <br>
    <div class="input__wrapper" style="text-align: center">
            <input type="password" name="password" placeholder="Password" class="input__field">
    </div>
    <div class="input_wrapper" style="text-align: center">
        <button type="submit" class="space green-btn btn btn-primary">Sign In</button>
    </div>
    </div>

    <a 
            class="padding space btn-secondary btn hover" 
            href="{{url_for('signup')}}" 
            role="button">Don't have an account? Create one here</a>
</form>

{%endblock%}